{% load static %}
<div class="header" data-step="1" data-intro="This is the header where you can navigate through different sections like Assessment, Dictionary, and Profile.">
  <!-- History Toggle Button -->
  <button class="toggle-history" id="historyToggle" onclick="toggleSidebar()">
    <i class="fas fa-history"></i>
  </button>

  <!-- Logo -->
  <img src="{% static 'images/TAlogo.png' %}" class="logo" alt="Logo" />

  <!-- Navbar -->
  <div class="navbar" id="navbar">
    <a class="active" href="{% url 'translate' %}">Translate</a>
    <a href="{% url 'arabic_alphabet' %}">Alphabet</a>
    <a href="{% url 'assesschoose' %}">Assessment</a>
    <a href="{% url 'dictionary' %}">Dictionary</a>
    <a href="{% url 'profile' %}">Profile</a>
    <form id="logoutForm" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="logout-btn">
        <i class="fas fa-sign-out-alt" title="Logout"></i>
      </button>
    </form>
  </div>

  <!-- Burger Menu -->
  <button class="burger-menu" id="burgerMenu" onclick="toggleNav()">☰</button>
</div>